@import "~bootstrap/scss/bootstrap"; 

#eat {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: limegreen;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .eatInfo {
    #fullProgress {
      width: 500px;
    }
  }
}

#play {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  background-color: darkorange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .playInfo {
    #funProgress {
      width: 500px;
    }
  }
}

#fight {
  position: fixed;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: salmon;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .fightInfo {
    #strengthProgress {
      width: 500px;
    }
  }
}

#sleep {
  position: fixed;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  background-color: darkorchid;
}
